.form-group {
	margin-bottom: 20px;
}
.form-group > * {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
}
.form-control {
	width: 100%;
}
.form-group label {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.form-group textarea,
.form-group input[type=text] {
	padding: 6px;
}
.btn {
	padding: 6px 15px;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-display: none;
	border: 0px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0px #333;
	cursor: pointer;
	transition: 0.5s box-shadow;
	margin-left: 10px;
}
.btn:hover {
	box-shadow: 0 2px 5px 1px #333;
}
.btn-primary {
	background-color: rgb(242, 243, 242);
}
#htmlcanvas > div {
	border: 2px solid #000;
}
.section_area {
	padding: 20px;
	position: relative;
	/* border-bottom: 1px dotted #333; */
}

#finalOutput {
	transition: 0.5s opacity;
	display: none;
	opacity: 0;
}
.remove {
	display: none;
}
#finalOutput.show {
	display: block;
	opacity: 1;
}
#overlaycanvas {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	width: calc(550px + 4px);
	height: calc(100% - 40px);
}
#person_area {
	width: 200px;
	height: 100%;
}
#logo_area {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 30px;
	right: 30px;
}
label {
	display: block;
	margin-bottom: 0.5em;
}
/* #font-size {
	border: none;
	display: block;
	padding: 15px;
	box-shadow: 0 2px 2px 0px #333;
	margin-left: 10px;

} */
#image-width {
	border: none;
	display: block;
	padding: 15px;
	margin-left: 10px;
	box-shadow: 0 2px 2px 0px #333;
}

#body {
	margin: .4rem;
}
#head {
	margin: .4rem;
}
